{% load static %}
<html>
    <head>
        <style>
        body {
  font-family: Arial;
  color: white;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-color: #FEDC56	;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    
.content1{
    padding-left:20px;
    padding-top:0;
    overflow:hidden
}
    </head>
    <body>
    <div class="content">
    <div class="split left">
  <div class="content1">
      <table>
          <tr>
              <td><img src="{% static 'disc.jpg'%}" width=50%></td>
              <td></td>
          </tr>
          <tr>
              <td></td>
              <td align="right"><img src="{% static 'coffee.jpg'%}" width=55%> </td>
          </tr>
          <tr>
              <td align="right"><img src="{% static 'van.jpg'%}" width=55%></td>
          </tr>
          <tr>
              <td></td>
          </tr>
      </table>
  </div>
</div>

<div class="split right">
  <div class="centered">
    <div class="container">
    <div class="card">
    <div class="card-body">
        <center>
       <i class="material-icons" style="font-size:36px;color:#FFD300">face</i>
       </center>
       <br>
       <form method="POST">
        {% csrf_token %}
        {{form}}   
        <div class="form-group">
         Click<a href="{% url 'signup'%}"> here </a>to sign up
        </div>
        <button type="submit" class="btn btn-warning">Sign in</button> 
        </form> 
    </div>
  </div>
        </div>
    </div>
  </div>
</div>
 
    
    </body>
</html>